@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-section hero-subpage">
    <div class="background">
        <img src="~/Images/Activities.jpg" alt="Hotel Aurelia">
    </div>
</section>
<section class="content-section">
    <div class="container py-5 text-center">
        <h2>Vítejte v Hotelu Aurelia</h2>
        <p>Tady něco bude — například popis hotelu, služby nebo rezervace.</p>
    </div>
</section>