@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-section hero-mainpage">
    <div class="background">
        <img src="~/Images/Hotel.jpg" alt="Hotel Aurelia">
    </div>

    </section>
    <section class="content-section">
        <div class="container py-5 text-center">
            <img src="~/Images/Logo.png" width="40%">
            <h2>Vítejte v Hotelu Aurelia</h2>
        <p>V srdci zasněžených hor se nachází Hotel Aurelia. Místo, kde se elegance snoubí s klidem horské přírody.<br /> Užijte si pobyt jen pár kroků od sjezdovek, zamrzlých jezer, vyhřáté wellness a výhledy na které nezapomenete.</p>
        </div>
    </section>
<section class="room-section text-center">
        <div class="row">
            <div class="col">
                <div class="room-card">
                    <img src="~/Images/RoomDouble.jpg"/>
                    <h4>Dvoulůžkový pokoj Standart</h4>
                </div>
            </div>
            <div class="col">
                <div class="room-card">
                    <img src="~/Images/RoomFamily.jpg"/>
                    <h4>Rodinný čtyřlůžkový pokoj</h4>
                </div>
            </div>
            <div class="col">
                <div class="room-card">
                    <img src="~/Images/RoomPremium.jpg"/>
                    <h4>Horský apartmán</h4>
                </div>
            </div>
        </div>
        <div>
        <a asp-controller="Home" asp-action="Pokoje" class="btn-rooms">Zobrazit pokoje</a>
        </div>
</section>

