@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-section hero-mainpage">
    <div class="background">
        <img src="~/Images/Hotel.jpg" alt="Hotel Aurelia">
    </div>
    </section>
    <section class="content-section">
        <div class="container py-5 text-center">
            <img src="~/Images/Logo.png" width="40%">
            <h2>Vítejte v Hotelu Aurelia</h2>
            <p>Hotel Aurelia leží jen pár minut od sjezdovky. Random textHotel Aurelia leží jen pár minut od sjezdovky. Random textHotel Aurelia leží jen pár minut od sjezdovky. Random textHotel Aurelia leží jen pár minut od sjezdovky. Random textHotel Aurelia leží jen pár minut od sjezdovky. Random text</p>
        </div>
    </section>
<section class="room-section">
        <div class="row">
            <div class="col">
                <img src="~/Images/Hotel.jpg"/>
                <p>Tady bude nějaký text s názvem pokoje</p>
            </div>
            <div class="col">
                <img src="~/Images/Hotel.jpg"/>
                <p>Tady bude nějaký text s názvem pokoje</p>
            </div>
            <div class="col">
                <img src="~/Images/Hotel.jpg"/>
                <p>Tady bude nějaký text s názvem pokoje</p>
            </div>
        </div>
        <div class="text-center">
            <a>Zobrazit pokoje</a>
        </div>
</section>

