@{
    ViewData["Title"] = "Kontakt";
}
<section class="hero-section hero-subpage">
    <div class="background">
        <img src="~/Images/Contact.png" alt="Hotel Aurelia">
    </div>
</section>
<section class="content-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="map-wrapper my-1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5115.3260288577385!2d14.406601927377876!3d50.13002749253199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470beb00724c07d1%3A0xd8c3f2d6f5dd8598!2sVyhl%C3%ADdka%20nad%20skalou!5e0!3m2!1scs!2scz!4v1762359783045!5m2!1scs!2scz"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <h4>Kde nás najdete</h4>
                <p>Pražská 240/15, Praha 8</p>
                <h4>Kontaktujte nás denně 7:00 - 22:00</h4>
                <p><img src="~/Images/Favicons/phone-call.png" width="20px" /> +420 739 993 769</p>
                <img src="~/Images/Favicons/mail.png" width="20px" /> <a href="recepce@aurelia.cz">recepce@aurelia.cz</a>
            </div>
        </div>
    </div>
    </section>
