@{
    ViewData["Title"] = "Pokoje";
}
<section class="hero-section hero-subpage">
    <div class="background">
        <img src="~/Images/HotelRoom.jpg" alt="Hotel Aurelia">
    </div>
</section>
<section class="rooms-list container">
    <h2 class="text-center mb-2">Naše pokoje</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="room-card">
                <img src="~/Images/RoomDouble.jpg" class="room-img img-fluid" />
                <div class="room-content">
                    <h3>Dvoulůžkový pokoj</h3>
                    <p>Útulný pokoj ideální pro páry, s výhledem na hory a moderním vybavením.</p>
                    <span class="price">od 1 900 Kč / noc</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="room-card">
                <img src="~/Images/RoomFamily.jpg" class="room-img" />
                <div class="room-content">
                    <h3>Rodinný pokoj</h3>
                    <p>Prostorný pokoj vhodný pro rodiny s dětmi, s oddělenou ložnicí.</p>
                    <span class="price">od 2 900 Kč / noc</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="room-card">
                <img src="~/Images/RoomPremium.jpg" class="room-img" />
                <div class="room-content">
                    <h3>Apartmán Premium</h3>
                    <p>Luxusní apartmán s vlastním obývákem, kuchyňkou a balkonem.</p>
                    <span class="price">od 4 500 Kč / noc</span>
                </div>
            </div>
        </div>
    </div>
</section>
