@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-section hero-subpage">
    <div class="background">
        <img src="~/Images/Wellness.jpg" alt="Hotel Aurelia">
    </div>
</section>
<section class="content-section">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col">
                <p>tady bude obrázek</p>
            </div>
            <div class="col text-start">
                <h2>V rámci našeho wellness máte k dispozici</h2>
                <ul>
                    <li><strong>Finskou saunu: </strong>Tradiční dřevěná sauna s vysokou teplotou a nízkou vlhkostí. Ideální k prohřátí těla po dnu stráveném na sjezdovce a k odstranění stresu. </li>
                   
                    <li><strong>Parní saunu: </strong>Jemná pára a vůně bylin pro dokonalé uvolnění dýchacích cest i pokožky.</li>
                    
                    <li><strong>Vírivku s výhledem na zasněžené vrcholky: </strong>Relaxační hydromasáž v teplé vodě s panoramatickým výhledem na zimní krajinu.</li>
                    
                    <li><strong>Masáže a aromaterapie: </strong> Vyberte si z nabídky klasických, sportovních či relaxačních masáží. Naše terapeutky pracují s přírodními oleji a esencemi pro harmonii těla i mysli.</li>
                </ul>
            </div>
        </div>
    </div>
</section>